<ion-header mode="ios">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tipo }}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterDocuments($event)" placeholder="Buscar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <p *ngIf="filteredListData?.length === 0" class="ion-text-center" style="padding: 15px">
    No se encontraron resultados. Puedes agregar uno nuevo registrándolo.
    Presiona el botón en la parte inferior con el ícono ➕.
    <br /><br />
    <ion-button (click)="addDocument()" color="success">Crear nuevo</ion-button>
  </p>

  <ion-list [inset]="true">
    <ion-item-sliding *ngFor="let item of filteredListData; trackBy: trackById">
      <ion-item *ngIf="item.type === 'MANUALES'">
        <ion-label>
          <h2>{{ item.title }}</h2>
          <p>{{ item.content }}</p>
          <p>📝 Registrado: {{ item.created_at | date: 'dd MMMM yyyy h:mm a' }}</p>
        </ion-label>

        <!-- Imagen (si existe) -->
        <img *ngIf="item.imageFile" [src]="item.imageFile" alt="Imagen del manual" 
             style="max-width: 100px; max-height: 100px; margin-left: 10px; border-radius: 6px;" />
      </ion-item>

      <!-- PDF (si existe) -->
      <ion-card *ngIf="item.type === 'MANUALES' && item.pdfFile" style="margin: 10px;">
        <ion-card-content>
          <iframe [src]="item.pdfFile | safeUrl" width="100%" height="250px" frameborder="0"></iframe>
        </ion-card-content>
      </ion-card>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="editDocument(item)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteDocument(item.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success" (click)="addDocument()">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
