<ion-header>
  <ion-toolbar mode="ios" color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>REGÍSTRATE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-card class="register-card">

      <ion-card-header>
        <ion-card-title>Datos Personales</ion-card-title>
        <ion-card-subtitle>Para tu cuenta</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-item class="input-item">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-text color="danger"
          *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
          Usuario es obligatorio.
        </ion-text>

        <ion-item class="input-item">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Ingresa un correo válido.
        </ion-text>

        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          La contraseña es obligatoria.
        </ion-text>

        <ion-item class="input-item">
          <ion-label position="floating">Confirma Contraseña</ion-label>
          <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>
        <ion-text color="danger"
          *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
          Las contraseñas no coinciden.
        </ion-text>

        <ion-item class="input-item">
          <ion-label>Tipo de Usuario</ion-label>
        </ion-item>

        <ion-radio-group formControlName="role">
          <ion-item>
            <ion-label>Instructor</ion-label>
            <ion-radio slot="start" value="INSTRUCTOR"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Estudiante</ion-label>
            <ion-radio slot="start" value="ESTUDIANTE"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <div class="button-container">
          <ion-button expand="block" color="success" type="submit" [disabled]="registerForm.invalid">
            Registrar
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </form>
</ion-content>